{% extends 'base.html' %}
{% block navbar %}
<li class="active"><a href="/main">Home</a></li>
{% endblock%}

{% block extrastyle %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<main style="margin-top: 200px;" id="main">
    {% if message %}
    <section id="features" class="features">
        <div class="container" data-aos="fade-up">
        {{ message|safe }}  

        </div>
    </section>
    {% endif %}
    {% if not message %}
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container" data-aos="fade-up">
  
            <div class="section-title">
                <h2>Create a New Language Object</h2>
                <p>All things begin with a <a target="_blank" href="https://spacy.io/api/language">Language object</a> in spaCy.</p>      
            </div>
  
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column align-items-lg-center">
               
                <form enctype="multipart/form-data" method="post">
                <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up" >
                    <i class="bx bx-sun"></i>
                    <h4>Language Name</h4>
                    <p>Enter a name for your "new language." For example, "Athabaskan" or "Tolstoy Russian"</p>
        
                        <input required style="width: 60%;" name="lang_name"  type="text" class="form-control" id="lang_name" aria-describedby="lang_name">
                </div>
                <div class="icon-box mt-5" data-aos="fade-up" >
                    <i class="bx bx-hive"></i>
                    <h4>Language Code</h4>
                    <p>Enter a two or five character identifier for your language (such as "ru" or "sr")</p>
                    <input required style="width: 33%;" name="lang_code"  type="text" class="form-control" id="lang_code" maxlength="6" aria-describedby="lang_code">
                    

                  </div>
                  <div class="icon-box mt-5" data-aos="fade-up" > 
                    <!-- <i class="bx bxl-python"></i>
                    <h4>Dependencies</h4>
                    <p>If you need to install a Python library such as CamelTools (Arabic) or pymorphy (Russian) enter the name of the library as you would in `pip install ...`. Multiple entries should be separated by a comma.</p>
                    <input style="width: 33%;" name="dependencies"  type="text" class="form-control" id="dependencies" maxlength="220" aria-describedby="dependencies"> --> 
                    

                  </div>
                  <div style="padding-top:30px;" class="icon-box mt-5 mt-lg-0" data-aos="fade-up" >
                    <i class="bx bx-directions"></i>
                    <h4>Direction</h4>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                      <label onclick="$('#direction').val('ltr');" class="btn btn-outline-primary" for="btnradio1">Left to Right</label>
                    
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                      <label onclick="$('#direction').val('rtl');" style="unicode-bidi:bidi-override; direction:rtl;" class="btn btn-outline-primary" for="btnradio2">Right to Left</label>
                      <input id="direction" name="direction" type="hidden" value="ltr">
                      
                    </div>

                  </div>
                  <div class="icon-box mt-5"  >
                    <i class="bx bx-braille"></i>
                    <h4>Case and Letters</h4>
                    
                   <br>
                   <br>
                    <input class="form-check-input" type="checkbox" name="has_case" value=True id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Has case 
                    </label>
                    <p>This languages has upper and lower case system.</p>
                    
                  
                    <input class="form-check-input" type="checkbox" name="has_letters" value=True id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Has letters
                    </label>
                    <p>This languages has letters rather than symbols.</p>
                    
                 
                </div>
                <!-- <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-copy-alt"></i>
                    <h4>Clone an existing language object</h4>
                    <p> Basic language objects exist for many languages in spaCy. Rather than starting entirely from scratch, you can copy and customize an existing object</p>
                    <select style="width: 33%;" class="spacy_languages" name="spacy_language"></select>       
                        
                </div> -->
              <div class="icon-box mt-5" >
                <button type="submit" class="read-more">Create</button>
                
               
              </div>
              </form>
            </div>
            
            <div class="image col-lg-6 order-1 order-lg-2 " data-aos="zoom-in" data-aos-delay="100">
              <img id="skylab" src="static/img/skylab.jpg" alt="" class="img-fluid">
            </div>
           
          </div>
          
        </div>
      </section><!-- End Features Section -->
      {% endif %}
</main> 
{% endblock %}

{% block extrajs %}

<script>
    $('#header').addClass('header-scrolled');
    $('.spacy_languages').select2({
        ajax: {
          url: '/spacy_languages',
          dataType: 'json',
          
          // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
        }
      });

    // Validate lang code. Display error if code exists
    let spacy_languages = {{ spacy_languages|safe }};
    $('#lang_code').on('input', function() {
      let code = $('#lang_code').val();
      if (spacy_languages.includes(code)){
        $('#lang_code').after('<p id="lang_error">That language code already exists, please choose another.</p>')
      };
      if (!spacy_languages.includes(code)){
        $('#lang_error').remove();
      };
    });

    let spacy_names = []; 
    $.getJSON("/spacy_languages", function(json){
      for (i in json.results){
        spacy_names.push(json.results[i]['text']);
      }
    });

    $('#lang_name').on('input', function() {
      let name = $('#lang_name').val();
      if (spacy_names.includes(name)){
        $('#lang_name').after('<p id="lang__name_error">That language name already exists, please choose another.</p>')
      };
      if (!spacy_names.includes(name)){
        $('#lang__name_error').remove();
      };
    });
     
    $('#skylab').mouseenter(function() {
      $('#skylab').attr('src', "static/img/skylab-inverse.png");
    });
    $('#skylab').mouseleave(function() {
      $('#skylab').attr('src', "static/img/skylab.jpg");
    });
    
</script>
{% endblock %}