{% extends 'base.html' %}
{% block navbar %}
<li class="active"><a href="/main">Home</a></li>
{% endblock%}
{% block content %}

{% block extrastyle %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}


<main style="margin-top: 200px;" id="main">

    
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container" data-aos="fade-up">
  
            <div class="section-title">
                <h2>Create Language Object</h2>
                <p>All things begin with a <a target="_blank" href="https://spacy.io/api/language">Language object</a> in spaCy.</p>      
            </div>
  
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column align-items-lg-center">
                <form enctype="multipart/form-data" method="post">
                <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-sun"></i>
                    <h4>Language Name</h4>
                    <p>Enter a name for your "new language." For example, "Athabaskan" or "Tolstoy Russian"</p>
        
                        <input required style="width: 60%;" name="lang_name"  type="text" class="form-control" id="lang_name" aria-describedby="lang_name">
                </div>
                <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-hive"></i>
                    <h4>Language Code</h4>
                    <p>Enter a two or three character identifier for your language (such as "ru" or "sr")</p>
                    <input required style="width: 33%;" name="lang_code"  type="text" class="form-control" id="lang_code" maxlength="4" aria-describedby="lang_code">
        
                </div>
                <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-copy-alt"></i>
                    <h4>Clone from an existing language object</h4>
                    <p> Basic language objects exist for many languages in spaCy. Rather than starting entirely from scratch, you can copy and customize an existing object</p>
                    <select style="width: 33%;" class="spacy_languages" name="spacy_language"></select>
                    <p id="lang_code"></p>
                    <p id="lang_dependencies"></p>
                    <p id="lang_models"></p>
                </div>
              <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="400">
                <button type="submit" class="read-more">Begin</button>
                {{ message }}
              </div>
              </form>
            </div>
            <div class="image col-lg-6 order-1 order-lg-2 " data-aos="zoom-in" data-aos-delay="100">
              <img src="static/img/skylab.jpg" alt="" class="img-fluid">
            </div>
          </div>
  
        </div>
      </section><!-- End Features Section -->
</main> 
{% endblock %}

{% block extrajs %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script>
    $('#header').addClass('header-scrolled');
    $('.spacy_languages').select2({
        ajax: {
          url: '/spacy_languages',
          dataType: 'json',
          
          // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
        }
      });
        
       let lang_data 
       $.getJSON("https://raw.githubusercontent.com/explosion/spaCy/8cc5ed6771010322954c2211b0e1f5a0fd14828a/website/meta/languages.json", function(json){
        lang_data = json;
       });
      $('.spacy_languages').on("select2:select", function(event) {
        let selected_lang = $('.spacy_languages').select2('data')[0]['text'];

        for (x in lang_data.languages){
            if (lang_data.languages[x].name == selected_lang){
                let selected_lang_data = lang_data.languages[x];
                $('#lang_code').text(selected_lang_data.code);
                
                if (selected_lang_data.models){
                    var i;
                    for (i = 0; i < selected_lang_data.models.length; i++) {
                        let model_name = selected_lang_data.models[i];
                        console.log(model_name);
                    }
                };

                if (selected_lang_data.dependencies){
                    var i;
                    for (i = 0; i < selected_lang_data.dependencies.length; i++) {
                        let dep_name = selected_lang_data.dependencies[i].name;
                        let dep_url = selected_lang_data.dependencies[i].url;
                        console.log(dep_name, dep_url)
                    }
                    
                };

                if (selected_lang_data.starters){
                    var i;
                    for (i = 0; i < selected_lang_data.starters.length; i++) {
                        let starter_name = selected_lang_data.starters[i];
                        console.log(starter_name)
                    }
                    
                };
            } 
        };
      });
    
    
</script>
{% endblock %}