{% extends 'base.html' %}
{% block navbar %}{% endblock%}

    {% block extrastyle %}
  <link rel="stylesheet" href="https://codemirror.net/theme/cobalt.css">
  <link rel="stylesheet" href="https://codemirror.net/lib/codemirror.css">
  <style>
    .CodeMirror {
        height: auto;
        border: 1px solid #eee;
        max-height: 1200px;
      }
      
  </style>
  {% endblock %}
  {% block content %}
  <div style="margin-top:150px" class="container"> 
    <section style="margin-top:150px;" class="breadcrumbs">
      <div class="container">
  
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Edit JSON</h2>
              
          </div>
          <div class="faq-list">
            <button class="nice-button" onclick="save_code();"><i style='color:white;'class='icofont-long-arrow-left'></i> Save and Back to Lookups</button>
              
              <button class="nice-button" onclick="validate_json();">Check JSON<i style='color:white;'class='icofont-coffee-cup'></i></button>
           </div>  
          
          
          
          
      </div>
  
      </div>
    </section><!-- End Breadcrumbs -->
  
  
  <div class="container">
    <p id="message"></p>
    {{ message }}
  
    <form>
        <textarea id="code" name="code">{{ code }}</textarea>
    </form>
    
  </div>
  <div class="container">
    &nbsp;
    <!-- area under the code -->
  </div>
</div>
  {% endblock %}

  {% block extrajs %}
  <script src="https://codemirror.net/lib/codemirror.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.54.0/mode/python/python.min.js"></script>
  <script>

    let editor = CodeMirror.fromTextArea(document.getElementById("code"), {
      lineNumbers: true,
      styleActiveLine: true,
      matchBrackets: true,
      theme: 'cobalt',
      mode: 'python',
      viewportMargin: Infinity,
    });

    function save_code() {
      let code = editor.getValue();
      let current_url = new URL(window.location.href);
      let type = current_url.searchParams.get("type");
      
      $.ajax({
        type: 'POST',
        url: '/edit_lookup',
        data: JSON.stringify ({'code': code, 'type':type}),
        success: function(data) { 
          let message = data.message;
        
          if (message == '200'){
            // go back a page
            location.href = '/lookups';
          }
          else{
          $('#message').text(message);
          }
        },
        contentType: "application/json",
        dataType: 'json'
      });
    };

   function validate_json() {
    let code = editor.getValue();
    try {
       JSON.parse(code);
       $('#message').text("JSON is valid");
    }
    catch(err) {
      $('#message').text(err.message);
    }
    
   }
  </script>

  {% endblock %}