{% extends 'base.html' %}
{% block content %}

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
          <img src="static/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
          <h3>To get started, you need to create a new language object.</h3>
          
          <a href="/create" class="read-more">Create <i class="icofont-long-arrow-right"></i></a>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

{% endblock %}

{% block extrajs %}
<script>
    $('#header').addClass('header-scrolled')
    
</script>
{% endblock %}