
{% extends 'base.html' %}
{% block navbar %}
<li class="active"><a href="/main">Home</a></li>
{% endblock%}

{% block extrastyle %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />

<link href="static/css/dropzone.css" rel="stylesheet">

{% endblock %}

{% block content %}
 <!-- ======= Breadcrumbs ======= -->
 <section style="margin-top:150px;" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Lookups</h2>
          
        </div>
        <div class="faq-list">
          <button class="nice-button" onclick="location.href='/tokenization'">Back<i style='color:white;'class='icofont-long-arrow-left'></i></button>
          <button class="nice-button" onclick="location.href='edit_lookup?type=pos'">Edit POS json<i style='color:white;'class='icofont-code-alt'></i></button>
          <button class="nice-button" onclick="location.href='edit_lookup?type=lemma'">Edit Lemma json<i style='color:white;'class='icofont-code-alt'></i></button>
          <button class="nice-button" onclick="location.href='edit_lookup?type=entity'">Edit Entity json<i style='color:white;'class='icofont-code-alt'></i></button>
          <button class="nice-button" onclick="location.href='/texts'">Next<i style='color:white;'class='icofont-long-arrow-right'></i></button>
         </div>  
        
        
        
        
    </div><br>
    <p>Lookups tables allow Cadet to automatically bulk update your
      annotations to save time. This method eliminates the need to re-enter information every time that it
      appears in your corpus. Keep in mind that simple lookups do not account for context or semantic variation.
      The table cannot predict if "Chicago" is a place, a theater, or a musical. If you add "Chicago" as a place
      lookup, all matching tokens in your corpus will be marked as "place." You will have the opportunity to
      adjust these values during annotation, but you'll need to strike a balance between saving time with bulk
      updates and losing time by having to change incorrect annotations.</p>
      <p>
        If you have existing dictionaries or other linguistic data, please create separate files for lemmata, part of speech 
        and entities.  You can then upload them here as json or CSV files. If you don't have this data, just go to the next step.
      </p>
      <p>
        If you have data for morphological features (or similar data), you can add this data as a <a href="https://inception-project.github.io/releases/0.19.4/docs/user-guide.html#_gazeteers">gazetteer in INCEpTION</a>. 
      </p>
    </div>
  </section><!-- End Breadcrumbs -->
  <section class="inner-page">
    <div class="container">
      <div class="faq-list">
        
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="pos" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="pos">Part of Speech</label>
        
          <input type="radio" class="btn-check" name="btnradio" id="lemma" autocomplete="off">
          <label class="btn btn-outline-primary" for="lemma">Lemmata</label>
        
          <input type="radio" class="btn-check" name="btnradio" id="ent" autocomplete="off">
          <label class="btn btn-outline-primary" for="ent">Entities</label>
        </div>
                
       </div>  
  <form id='dropzone' action="/upload_lookups" class="dropzone" enctype="multipart/form-data" method="post">                   
    <div class="dz-message" data-dz-message><span></span></div>

  </form>
  <div id="spinner" class="lds-ripple"></div>
  </div>
  </section>


  
</main><!-- End #main -->
    {% endblock %}

  {% block extrajs %}
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <script src="static/js/dropzone.js"></script>
  <script>
  let dz = Dropzone.options.dropzone = {
      dictDefaultMessage: "",
      timeout: 300000000,
      init: function() {
        
        //POST sent with file and form data
        this.on("sending", function(file, xhr, formData){
          formData.append("lookup_type", selected_type);
          $('#spinner').show();
          
  
        //When upload completed, #TODO need event for tesseract complete
        this.on("success", function(data) { 
            
            let texts_html = data.xhr.responseText;
            let text_results = document.getElementById('text_results');
            text_results.innerHTML = texts_html;
            $('#spinner').hide();
            //setTimeout(() => {  get_texts(); }, 3000);
          }
        );
      });
    }
  };

  
  let selected_type = 'pos';
  $('.dz-message').text('Click here or drag files to upload your part of speech data');
  $("#pos").click(function() {
    $('.dz-message').text('Click here or drag files to upload your part of speech data');
    selected_type = 'pos';
  });
  $("#lemma").click(function() {
    $('.dz-message').text('Click here or drag files to upload your lemma data');
    selected_type = 'lemma';
  });
  $("#ent").click(function() {
    $('.dz-message').text('Click here or drag files to upload your entities data');
    selected_type = 'ent';
  });
  $('#header').addClass('header-scrolled');

  </script>
  
  {% endblock %}