
{% extends 'base.html' %}
{% block navbar %}
<li class="active"><a href="/main">Home</a></li>
{% endblock%}

{% block extrastyle %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />

<link href="static/css/dropzone.css" rel="stylesheet">

{% endblock %}

{% block content %}
 <!-- ======= Breadcrumbs ======= -->
 <section style="margin-top:150px;" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Lookups</h2>
        </div>
        <div class="faq-list">
          <button class="nice-button" onclick="location.href='/tokenization'">Back<i style='color:white;'class='icofont-long-arrow-left'></i></button>
          <button class="nice-button" onclick="location.href='edit_lookup?type=pos'">Edit POS json<i style='color:white;'class='icofont-code-alt'></i></button>
          <button class="nice-button" onclick="location.href='edit_lookup?type=lemma'">Edit Lemma json<i style='color:white;'class='icofont-code-alt'></i></button>
          <button class="nice-button" onclick="location.href='edit_lookup?type=entity'">Edit Entity json<i style='color:white;'class='icofont-code-alt'></i></button>
          <button class="nice-button" onclick="location.href='/texts'">Next<i style='color:white;'class='icofont-long-arrow-right'></i></button>
         </div>  
        
        
        
        
    </div>

    </div>
  </section><!-- End Breadcrumbs -->
  <section class="inner-page">
    <div class="container">
      <div class="faq-list">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle nice-button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Select type of lookup to update
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Part of Speech</a></li>
            <li><a  class="dropdown-item" href="#">Lemmata</a></li>
            <li><a class="dropdown-item" href="#">Entities</a></li>
          </ul>
        </div>
        
       </div>  
  <form id='dropzone' action="/upload_lookups" class="dropzone" enctype="multipart/form-data" method="post">                   
    <div class="dz-message" data-dz-message><span></span></div>

  </form>
  </div>
  </section>


  <section class="inner-page">
    <div class="container">
        
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">POS</button>
          <button onclick="load_lemma_table();" class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Lemma</button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">NER</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">This is the POS stuff. TODO add DataFrame, with search/filter/edit ability</div>
        <!-- Lemma tab datatable -->
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <table id="lemmaTable" class="display">
            <thead>
                <tr>
                    <th>Word</th>
                    <th>Lemma</th>
                </tr>
            </thead>
            <tbody>
             
            </tbody>
        </table>

        </div>
        <!-- End Lemma tab datatable -->

        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">I haz NER</div>
      </div>
     
    </div>
  </section>

</main><!-- End #main -->
    {% endblock %}

  {% block extrajs %}
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <script src="static/js/dropzone.js"></script>
  <script>
  let dz = Dropzone.options.dropzone = {
      dictDefaultMessage: "",
      timeout: 300000000,
      init: function() {
        
        //POST sent with file and form data
        this.on("sending", function(file, xhr, formData){
          formData.append("lookup_type", selected_type);
          $('#spinner').show();
          
  
        //When upload completed, #TODO need event for tesseract complete
        this.on("success", function(data) { 
            
            let texts_html = data.xhr.responseText;
            let text_results = document.getElementById('text_results');
            text_results.innerHTML = texts_html;
            $('#spinner').hide();
            //setTimeout(() => {  get_texts(); }, 3000);
          }
        );
      });
    }
  };

  let selected_type = null;
  $(".dropdown-item:contains('Part of Speech')").click(function() {
    $('.dz-message').text('Click here or drag files to upload your part of speech data');
    selected_type = 'pos';
  });
  $(".dropdown-item:contains('Lemmata')").click(function() {
    $('.dz-message').text('Click here or drag files to upload your lemma data');
    selected_type = 'lemma';
  });
  $(".dropdown-item:contains('Entities')").click(function() {
    $('.dz-message').text('Click here or drag files to upload your entities data');
    selected_type = 'ent';
  });
  </script>
  
  <script>
    let pos_table = null;
    let lemma_table = null;
    let ent_table = null;
  function load_lemma_table() {
    if (pos_table) {
      pos_table.destroy();
    };
    if (ent_table) {
      ent_table.destroy();
    };
    let lemma_table = $('#lemmaTable').DataTable({
      "serverSide": true,
      "ajax": 'lemma_json',

      "columns": [
        
        { "data": "word",
          "render": function ( row, type, val, meta ) {
           return "<p contenteditable='true' onkeyup='edit_word(this," + '"' + row + '"' + "," + meta.row  + "," + meta.col +")' >" +row +"</p>";
          } 
        },
        { "data": "lemma",
        "render": function ( row, type, val, meta ) {
          return "<p contenteditable='true' onkeyup='edit_lemma(this," + '"' + row + '"' + "," + meta.row  + "," + meta.col +")' >" +row +"</p>";
         } 
        }
      ] 

    });
  };
  
  function edit_word(e, key,row, col){
        
          let new_key = e.textContent;
          let value = $('#lemmaTable').DataTable().column(col).row(row).data().lemma;
          $.get( '/update_lemma?key=' + key +'&value=' + value + "&new_key=" + new_key + "&row=" + row +"&col=" + col, function( data ) {
            // Reload data so that table matches server json
            $('#lemmaTable').DataTable().ajax.reload(null, true);
          });
        
  };

  function edit_lemma(e, key,value){
    //<p contenteditable="true" onkeydown="edit_word(this, 'old');">word</p>
      let new_lemma = e.textContent;   
        
        
        $.get( '/update_lemma?key=' + key +'&value=' + value + "&new_value=" + new_lemma, function( data ) {
          console.log(data)
          //$('#lemmata_table').DataTable().ajax.reload(null, false);  
        });
  };
  
  
    $('#header').addClass('header-scrolled');
  </script>
  {% endblock %}