{% extends 'base.html' %}
{% block extrastyle %}{% endblock %}
{% block navbar %}
<li class="active"><a href="/main">Home</a></li>
{% endblock%}

{% block content %}
<section style="margin-top:150px;" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Export for Model Training</h2>
            <p style="padding: 10px;">Once you have annotated your text corpus and are ready to train your model, you'll need your language object
              and a project template that will help to load and pre-process your data and then run model training and packaging.
              spaCy projects make this process clear and reproducible.
            </p>
        </div>
        <div class="faq-list">
            <button class="nice-button" onclick="location.href='/export-texts'">Back<i style='color:white;'class='icofont-long-arrow-left'></i></button>

         </div>  
        
        
        
        
    </div>

    </div>
  </section><!-- End Breadcrumbs -->
{% if message %}
<section id="about" class="about">
  <div class="container">
 {{ message|safe }}

 </div>
 </section>
{% else %}
   <!-- ======= About Section ======= -->
   <section id="about" class="about">
    <div class="container">
        
      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
          <img id="solaris" src="static/img/solaris.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
          
          <p>The final step in your journey will save your data for use in model training.</p>
          <p>Cadet will create a compressed zip file that contains:</p>  
          <ul>
            <li><i class="icofont-space"></i>Your original texts and a template datasheet for your dataset.</li>
            <li><i class="icofont-space"></i>Your lookups for lemma, pos and entities.</li>
            <li><i class="icofont-space"></i>We'll serialize your new spaCy language object.</li>
            <li><i class="icofont-space"></i>Finally, we'll create a spaCy project file for use in training.</li>
          </ul>
          <p>If you're planning to save your data in GitHub, we've created a template to get you started. </p>          
          <p><a target="_blank" href="https://github.com/New-Languages-for-NLP/repo-template"><i class="bx bxl-github"></i>&nbsp;Click here for the template.</a></p>

          <div><a onclick="get_download();" class="nice-button">Download</a></div>
             
              {% if message %}
              <div class="mb-3">
                <b class="text-grad">{{ message }}</b>
                </div>
              
              {% endif %}
          
        </div>
      </div>
      
    </div>
    </div>
  </section><!-- End About Section -->
    {% endif %}
      
 

{% endblock %}

{% block extrajs %}
<script>
  function get_download(){
    const url = 'download_project'
    window.location.assign(url);
  };
    $('#header').addClass('header-scrolled');
    $('#solaris').mouseenter(function() {
      $('#solaris').attr('src', "/static/img/solaris1.png");
    });
    $('#solaris').mouseleave(function() {
      $('#solaris').attr('src', "/static/img/solaris.png");
    });
    
</script>
{% endblock %}