{% extends 'base.html' %}
{% block navbar %}{% endblock%}
{% block extrastyle %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<style>
  .splitter {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
{% endblock%}

{% block content %}


<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>tokenization</h2>
        <p>Click on a token to split it in two. Highlight a span to join into a single token.<a style="color:white;" target="_blank" href="https://spacy.io/usage/spacy-101#annotations-token">default tokenizer</a>. Here you can test its performance with your language and make necessary adjustments.</p>
        <h5><a style="color:white;" target="_blank" href="https://spacy.io/usage/linguistic-features#how-tokenizer-works">Tokenizer Documentation</a></h5>
      </div>

      <div class="faq-list">
      <button class="nice-button" onclick="location.href='/sentences'">Back<i style='color:white;'class='icofont-long-arrow-left'></i></button>
      <button class="nice-button" onclick="location.href='/edit?file_name=tokenizer_exceptions.py'">Edit tokenizer exceptions file<i style='color:white;'class='icofont-code-alt'></i></button>
      <button class="nice-button" onclick="location.href='/edit?file_name=punctuation.py'">Edit punctuation file<i style='color:white;'class='icofont-code-alt'></i></button>
      <button class="nice-button" onclick="location.href='/lookups'">Next<i style='color:white;'class='icofont-long-arrow-right'></i></button>
        <br>
      
    </div>
        
            {% for sentence in sentences %}
            <div class="card " style="width: 100%;">
             
              <div class="card-body">
                <p class="card-text">{{ sentence|safe }}</p>
              </div>
            </div>
                        
        
          {% endfor %}
          
        
    </div>
  </section><!-- End Frequently Asked Questions Section -->
  
<!-- Start Tokenizer exception form modal -->
<div class="modal" id="splitModal" tabindex="-1" aria-labelledby="splitModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Split Token</h5>
        <button type="button" onclick="close_modals()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="/add_tokenization_exception">
          

          <h5 class="text-center" id="selected_token"></h5>
          
          <input type="hidden" id="token1" name="token1">
          <input type="hidden" id="token2" name="token2"><br>
          
          <div id="slider"></div>
          <p>Move the slider to split the token in two</p>
          
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Add exception</button>
      </form>
      </div>
    </div>
  </div>
</div>  
  <!-- End Tokenizer exception form modal -->

  <!-- Start Tokenizer exception form modal -->
<div class="modal" id="joinModal" tabindex="-1" aria-labelledby="joinModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Join Tokens</h5>
        <button type="button" onclick="close_modals()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="/add_tokenization_exception">
          

          <h5 id="selected_join_token"></h5>
          
          <input type="text1" id="join_orth" name="token1">
          
          
        
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Add exception</button>
      </form>
      </div>
    </div>
  </div>
</div>  
  <!-- End Tokenizer exception form modal -->
  
{% endblock %}

{% block extrajs %}
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript"
    src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

<script>
function edit_me(e){
  let token = e.getAttribute("value");
  $('#selected_token').text(token);
  let max = token.length;
  // initialize the split slider 
 $("#slider").slider({
  min: 0,
  max: max,

  slide: function (event, ui) {
    let text1 = token.slice(0,ui.value)
    let text2 = token.slice(ui.value);
    $("#selected_token").html(text1+' <span class="splitter">┋</span> '+text2);
    $("#token1").val(text1)
    $("#token2").val(text2)
  }
});
$("#amount").val($("#slider").slider("values", 0) +
  " - " + $("#slider").slider("values", 1));
  $('#splitModal').show();
};


function getSelectionText() {
  var text = "";
  if (window.getSelection) {
      text = window.getSelection().toString();
  } else if (document.selection && document.selection.type != "Control") {
      text = document.selection.createRange().text;
  }
  return text;
}

function edit_span(){
  let text = getSelectionText();
  if (text.length > 0) {
    $('#joinModal').show();
    let join_text = text.replace(/[\u00A0\u1680​\u180e\u2000-\u2009\u200a​\u200b​\u202f\u205f​\u3000]/g,'');
    $('#join_orth').val(join_text);

  } else {
   
  };
  
  
}

function close_modals(){
  $('#joinModal').hide();
  $('#splitModal').hide();
}

$("#slider").slider();
 
</script>
{% endblock %}